@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base 
{

	* {
		box-sizing: border-box;
	}
	
	body{
		min-width: 380px;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		--scrollbarBG: #1c2157;
		--thumbBG: #6fa2ca;
		overflow-y: scroll;
	}

	[type='text'],
	[type='email'],
	[type='url'],
	[type='password'],
	[type='number'],
	[type='date'],
	[type='datetime-local'],
	[type='month'],
	[type='search'],
	[type='tel'],
	[type='time'],
	[type='week'],
	[multiple],
	textarea,
	select,
	.v-select,
	.v-select ul
	{
		@apply w-full border border-slate-400 rounded-sm px-2 py-1 shadow-sm
			 focus:border-orange focus:ring-orange placeholder-slate-300;
	}

	select { @apply !py-1 }

	[type='checkbox'],
	[type='radio'] {
		@apply border-color-dark-gray w-5 h-5 text-color-blue-gray focus:ring-transparent;
	}
}

/* Custom classes (only for css beyond what can be done in TailwindCss) primary: #99b3cf */
@layer components 
{
	strong 			{ @apply text-color-red; }
	.main-width 	{ @apply min-w-[380px] max-w-[1230px] md:mx-5 xl:mx-auto; }
	.flex-center 	{ @apply flex justify-center items-center }
	.link-underline { @apply cursor-pointer hover:underline hover:text-color-blue underline-offset-4 }

	.v-select { 
		@apply w-full border border-color-dark-gray rounded-md px-3 py-1 
			shadow-smfocus:border-orange focus:ring-orange;
	}
	.btn-delete, .btn-disable { 
		@apply bg-color-mid-gray text-color-dark-gray select-none text-sm
			hover:bg-white tracking-wide font-bold rounded-md px-4 pt-[4px] pb-[3px] w-fit border-blue focus:border; 
	}
	.btn-primary { 
		@apply bg-color-primary text-[#121639] hover:bg-white select-none text-sm
			font-sans tracking-wide font-bold rounded-md px-4 pt-[4px] pb-[3px] w-fit;
	}
	.btn-secondary { 
		@apply bg-transparent border border-[#121639] text-[#121639] opacity-70 text-sm select-none
			font-sans tracking-wide font-bold rounded-md px-4 pt-[4px] pb-[3px] w-fit hover:opacity-100 hover:bg-white;
	}


	/*=====================================================================
		Custom page scrollbar
	===================================================================== */

	body { overflow-y: scroll; scrollbar-width: thin; scrollbar-color: var(--thumbBG) var(--scrollbarBG); }
	body::-webkit-scrollbar 		{ width: 15px;}
	body::-webkit-scrollbar-corner 	{ background: var(--scrollbarBG); }
	body::-webkit-scrollbar-track 	{ background: var(--scrollbarBG); }
	body::-webkit-scrollbar-thumb 	{ background-color: var(--thumbBG); 
		border: 2px solid var(--scrollbarBG); border-radius: 6px;
	}

	/*===================================================================== */

	.scrollbar-thin { scrollbar-width: thin; scrollbar-color: #b7b7b7 white; }
	.scrollbar-thin::-webkit-scrollbar { width: 16px; }
	.scrollbar-thin::-webkit-scrollbar-track { @apply bg-gray-200; }
	.scrollbar-thin::-webkit-scrollbar-thumb { @apply bg-gray-400 rounded-lg; }
	.scrollbar-medium { scrollbar-width: 12px; scrollbar-color: #b7b7b7 white; }
	.scrollbar-medium::-webkit-scrollbar { width: 12px; }
	.scrollbar-medium::-webkit-scrollbar-track { @apply bg-gray-200; }
	.scrollbar-medium::-webkit-scrollbar-thumb { @apply bg-color-gray rounded-lg; }
}

/* 
 @utilities {
		...
}*/

