@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base 
{
	/* ---------------------------------------------- */

	:root {
		--logo-url: url('/images/VueCorp_sans_white.png');
		--gradient-brand: linear-gradient( 200deg, rgb(55, 48, 163, 0.5) 65%, rgb(132, 190, 224, 0.5) 100% ), linear-gradient( 205deg, rgb(0, 19, 10, 1.0) 17%, rgb(117, 182, 213, 1) 100% );
		--gradient-navbar: linear-gradient(90deg, #7ab7d8 2%, #1c2157 50%);
		--gradient-back: linear-gradient( to bottom, #1c2157 30%, black 100%);
		--gradient-footer: radial-gradient( circle, #77b1d5 30%, #242d66 100%);
		--theme-footer-text: white;	
		--theme-shadow: none;
		--scrollbarBG:  #445292;
		--thumbBG: #1c2157;
	}

	.alt-theme {
		--logo-url: url('/images/VueCorp_sans_navy.png');
		--gradient-brand: linear-gradient(20deg, #b8d7ed 20%, transparent 60%);
		--gradient-navbar: linear-gradient(90deg, #f9f9f9 0%, #c2c2c2 100%);
		--gradient-back: none;
		--gradient-footer: radial-gradient(circle, #f7f7f7  15%, #c2c2c2 70%);
		--theme-footer-text: #1c2157;
		--theme-shadow: -5px 5px 5px 0px rgba(183,183,183,0.75);
		--scrollbarBG: #d4d4d4;
		--thumbBG: #ebebeb;
	}

	/* ---------------------------------------------- */

	* { box-sizing: border-box; }
	
	html,body{
		min-width: 380px;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	[type='text'],
	[type='email'],
	[type='url'],
	[type='password'],
	[type='number'],
	[type='date'],
	[type='datetime-local'],
	[type='month'],
	[type='search'],
	[type='tel'],
	[type='time'],
	[type='week'],
	[multiple],
	textarea,
	select,
	.v-select,
	.v-select ul
	{
		@apply w-full border border-slate-400 rounded-sm px-2 py-1 shadow-sm
			focus:border-orange focus:ring-orange placeholder-slate-300;
	}

	select { @apply !py-1 }

	[type='checkbox'],
	[type='radio'] {
		@apply border-color-dark-gray w-5 h-5 text-color-blue-gray focus:ring-transparent
			focus:ring-orange placeholder-slate-300;
	}
}

/* Custom classes (only for css beyond what can be done in TailwindCss) primary: #99b3cf */
@layer components 
{
	strong 			{ @apply text-color-red; }
	.main-width 	{ @apply min-w-[380px] max-w-[1230px] md:mx-5 xl:mx-auto; }
	.flex-center 	{ @apply flex justify-center items-center }
	.link-underline { @apply cursor-pointer hover:underline hover:text-color-blue underline-offset-4 }

	.v-select { 
		@apply w-full border border-color-dark-gray rounded-md px-3 py-1 
			shadow-smfocus:border-orange focus:ring-orange;
	}
	.btn-delete, .btn-disable { 
		@apply bg-color-mid-gray text-color-dark-gray select-none text-sm 
			hover:bg-warm-100 tracking-wide font-bold rounded-md px-4 pt-[4px] pb-[3px] w-fit; 
	}
	.btn-primary { 
		@apply bg-color-primary text-[#121639] hover:bg-white select-none text-sm outline-color-blue-gray
			font-sans tracking-wide font-bold rounded-md px-4 pt-[4px] pb-[3px] w-fit;
	}
	.btn-secondary { 
		@apply bg-transparent border border-[#121639] text-[#121639] opacity-70 text-sm select-none
			font-sans tracking-wide font-bold rounded-md px-4 pt-[4px] pb-[3px] w-fit hover:opacity-100 hover:bg-white;
	}
	.badge-button {
		@apply rounded-full h-5 px-2 text-xs leading-[1.3rem] tracking-wider 
			inline-block font-bold select-none text-center align-middle
	}

	/*=====================================================================
		Custom page scrollbar 
	===================================================================== 
	*/

	html { 
		overflow-y: scroll; 
		scrollbar-width: auto; 
		scrollbar-color: var(--scrollbarBG) var(--thumbBG) ; 
	}
	html::-webkit-scrollbar 		{ width: thin;}
	html::-webkit-scrollbar-corner 	{ background: var(--scrollbarBG); }
	html::-webkit-scrollbar-track 	{ background: var(--scrollbarBG); }
	html::-webkit-scrollbar-thumb 	{ background-color: var(--thumbBG); 
									  border: 2px solid var(--scrollbarBG); 
									  border-radius: 6px;
	} 
	
	/*===================================================================== */

	.scrollbar-thin { scrollbar-width: thin; scrollbar-color: #b7b7b7 white; }
	.scrollbar-thin::-webkit-scrollbar { width: 16px; }
	.scrollbar-thin::-webkit-scrollbar-track { @apply bg-gray-200; }
	.scrollbar-thin::-webkit-scrollbar-thumb { @apply bg-gray-400 rounded-lg; }
	
	.scrollbar-medium { scrollbar-width: 12px; scrollbar-color: #b7b7b7 white; }
	.scrollbar-medium::-webkit-scrollbar { width: 12px; }
	.scrollbar-medium::-webkit-scrollbar-track { @apply bg-gray-200; }
	.scrollbar-medium::-webkit-scrollbar-thumb { @apply bg-color-gray rounded-lg; }
}

 @layer utilities 
 {
	/* Nav-Tab classes here instead of in multiple NavTab controls */
	.theme .nav-tab 	{ @apply text-[#bddaef] bg-[#445292] hover:bg-transparent hover:text-white }   	
	.alt-theme .nav-tab { @apply text-[#1b2157] bg-white hover:opacity-50 }    
	.theme .active-tab, .alt-theme .active-tab  
						{ @apply text-orange hover:text-black bg-gradient-tab-active rounded-t-md 
							opacity-100 m-0 h-9 rounded-b-none hover:opacity-100 }
	.active-tab .corner { @apply block }
}

